<a href="https://colab.research.google.com/github/duy7590/portfolio_tracker/blob/master/Investment_Portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**References:**  

https://www.datacamp.com/community/tutorials/finance-python-trading

https://github.com/datacamp/datacamp-community-tutorials/blob/master/Python%20Finance%20Tutorial%20For%20Beginners/Python%20For%20Finance%20Beginners%20Tutorial.ipynb

https://pypi.python.org/pypi/fix-yahoo-finance

http://www.learndatasci.com/python-finance-part-yahoo-finance-api-pandas-matplotlib/

In [1]:
# Import initial libraries

import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Imports in order to be able to use Plotly offline.
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

import plotly.graph_objs as go

print(__version__) # requires version >= 1.9.0

init_notebook_mode(connected=True)

4.9.0

In [3]:
# Import the Sample worksheet with acquisition dates and initial cost basis:

import pandas as pd
import io
import requests
url="https://raw.githubusercontent.com/duy7590/portfolio_tracker/master/data.csv"
s=requests.get(url).content
portfolio_df = pd.read_csv(io.StringIO(s.decode('utf-8')))
portfolio_df['Acquisition Date'] = portfolio_df['Acquisition Date'].astype('datetime64[ns]') 
portfolio_df['Start of Year'] = portfolio_df['Start of Year'].astype('datetime64[ns]') 
portfolio_df['Cost Basis'] = portfolio_df['Cost Basis'].astype('float64') 
portfolio_df['Unit Cost'] = portfolio_df['Unit Cost'].astype('float64') 
portfolio_df.head(10)

  Acquisition Date Ticker  Quantity  Unit Cost  Cost Basis Start of Year
0       2013-02-07   AAPL       125      65.40     8175.00    2019-12-31
1       2014-02-27    JNJ       100      81.90     8190.00    2019-12-31
2       2013-06-04    MCD       100      84.99     8499.00    2019-12-31
3       2015-12-14   MTCH       600      13.63     8178.00    2019-12-31
4       2016-01-14   NFLX        75     108.71     8153.25    2019-12-31
5       2013-08-14    WMT       125      68.30     8537.50    2019-12-31
6       2013-12-13     FB       150      53.32     7998.00    2019-12-31
7       2015-01-05   TWTR       225      36.38     8185.50    2019-12-31

In [4]:
# Confirm that you have 8 values for each column.

portfolio_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
Acquisition Date    8 non-null datetime64[ns]
Ticker              8 non-null object
Quantity            8 non-null int64
Unit Cost           8 non-null float64
Cost Basis          8 non-null float64
Start of Year       8 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(1), object(1)
memory usage: 456.0+ bytes

In [5]:
# Date Ranges for SP 500 and for all tickers
# Modify these date ranges each week.

# The below will pull back stock prices from 2010 until end date specified.
start_sp = datetime.datetime(2013, 1, 1)
end_sp = datetime.datetime(2020, 6, 6)

# This variable is used for YTD performance.
end_of_last_year = datetime.datetime(2019, 12, 31)

# These are separate if for some reason want different date range than SP.
stocks_start = datetime.datetime(2013, 1, 1)
stocks_end = datetime.datetime(2020, 6, 6)

In [6]:
end_of_last_year

datetime.datetime(2019, 12, 31, 0, 0)

In [7]:
# Leveraged from the helpful Datacamp Python Finance trading blog post.

from pandas_datareader import data as pdr
import fix_yahoo_finance as yf
yf.pdr_override() # <== that's all it takes :-)

sp500 = pdr.get_data_yahoo('^GSPC', 
                           start_sp,
                             end_sp)
                          
sp500.head()

[*********************100%***********************]  1 of 1 downloaded

                   Open         High  ...    Adj Close      Volume
Date                                  ...
2013-01-02  1426.189941  1462.430054  ...  1462.420044  4202600000
2013-01-03  1462.420044  1465.469971  ...  1459.369995  3829730000
2013-01-04  1459.369995  1467.939941  ...  1466.469971  3424290000
2013-01-07  1466.469971  1466.469971  ...  1461.890015  3304970000
2013-01-08  1461.890015  1461.890015  ...  1457.150024  3601600000

[5 rows x 6 columns]

In [8]:
sp500.tail()

                   Open         High  ...    Adj Close      Volume
Date                                  ...
2020-06-01  3038.780029  3062.179932  ...  3055.729980  4673410000
2020-06-02  3064.780029  3081.070068  ...  3080.820068  5187230000
2020-06-03  3098.899902  3130.939941  ...  3122.870117  5989560000
2020-06-04  3111.560059  3128.909912  ...  3112.350098  6428130000
2020-06-05  3163.840088  3211.719971  ...  3193.929932  8617590000

[5 rows x 6 columns]

In [9]:
# Create a dataframe with only the Adj Close column as that's all we need for this analysis.

sp_500_adj_close = sp500[['Adj Close']].reset_index()

In [10]:
sp_500_adj_close

           Date    Adj Close
0    2013-01-02  1462.420044
1    2013-01-03  1459.369995
2    2013-01-04  1466.469971
3    2013-01-07  1461.890015
4    2013-01-08  1457.150024
5    2013-01-09  1461.020020
6    2013-01-10  1472.119995
7    2013-01-11  1472.050049
8    2013-01-14  1470.680054
9    2013-01-15  1472.339966
10   2013-01-16  1472.630005
11   2013-01-17  1480.939941
12   2013-01-18  1485.979980
13   2013-01-22  1492.560059
14   2013-01-23  1494.810059
15   2013-01-24  1494.819946
16   2013-01-25  1502.959961
17   2013-01-28  1500.180054
18   2013-01-29  1507.839966
19   2013-01-30  1501.959961
20   2013-01-31  1498.109985
21   2013-02-01  1513.170044
22   2013-02-04  1495.709961
23   2013-02-05  1511.290039
24   2013-02-06  1512.119995
25   2013-02-07  1509.390015
26   2013-02-08  1517.930054
27   2013-02-11  1517.010010
28   2013-02-12  1519.430054
29   2013-02-13  1520.329956
...         ...          ...
1840 2020-04-24  2836.739990
1841 2020-04-27  2878.479980
1842 2020-04-28  2863.389893
1843 2020-04-29  2939.510010
1844 2020-04-30  2912.429932
1845 2020-05-01  2830.709961
1846 2020-05-04  2842.739990
1847 2020-05-05  2868.439941
1848 2020-05-06  2848.419922
1849 2020-05-07  2881.189941
1850 2020-05-08  2929.800049
1851 2020-05-11  2930.189941
1852 2020-05-12  2870.120117
1853 2020-05-13  2820.000000
1854 2020-05-14  2852.500000
1855 2020-05-15  2863.699951
1856 2020-05-18  2953.909912
1857 2020-05-19  2922.939941
1858 2020-05-20  2971.610107
1859 2020-05-21  2948.510010
1860 2020-05-22  2955.449951
1861 2020-05-26  2991.770020
1862 2020-05-27  3036.129883
1863 2020-05-28  3029.729980
1864 2020-05-29  3044.310059
1865 2020-06-01  3055.729980
1866 2020-06-02  3080.820068
1867 2020-06-03  3122.870117
1868 2020-06-04  3112.350098
1869 2020-06-05  3193.929932

[1870 rows x 2 columns]

In [11]:
# Adj Close for the EOY in 2017 in order to run comparisons versus stocks YTD performances.

sp_500_adj_close_start = sp_500_adj_close[sp_500_adj_close['Date']==end_of_last_year]
sp_500_adj_close_start

           Date    Adj Close
1761 2019-12-31  3230.780029

In [12]:
# Generate a dynamic list of tickers to pull from Yahoo Finance API based on the imported file with tickers.
tickers = portfolio_df['Ticker'].unique()
tickers

array(['AAPL', 'JNJ', 'MCD', 'MTCH', 'NFLX', 'WMT', 'FB', 'TWTR'],
      dtype=object)

In [13]:
# Stock comparison code

def get(tickers, startdate, enddate):
    def data(ticker):
        return (pdr.get_data_yahoo(ticker, start=startdate, end=enddate))
    datas = map(data, tickers)
    return(pd.concat(datas, keys=tickers, names=['Ticker', 'Date']))
               
all_data = get(tickers, stocks_start, stocks_end)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [14]:
all_data.head()

                        Open       High  ...  Adj Close     Volume
Ticker Date                              ...
AAPL   2013-01-02  79.117142  79.285713  ...  68.502106  140129500
       2013-01-03  78.268570  78.524284  ...  67.637436   88241300
       2013-01-04  76.709999  76.947144  ...  65.753418  148583400
       2013-01-07  74.571426  75.614288  ...  65.366646  121039100
       2013-01-08  75.601425  75.984283  ...  65.542587  114676800

[5 rows x 6 columns]

In [15]:
# Also only pulling the ticker, date and adj. close columns for our tickers.

adj_close = all_data[['Adj Close']].reset_index()
adj_close.head()

  Ticker       Date  Adj Close
0   AAPL 2013-01-02  68.502106
1   AAPL 2013-01-03  67.637436
2   AAPL 2013-01-04  65.753418
3   AAPL 2013-01-07  65.366646
4   AAPL 2013-01-08  65.542587

In [16]:
# Grabbing the ticker close from the end of last year
adj_close_start = adj_close[adj_close['Date']==end_of_last_year]
adj_close_start.head()

     Ticker       Date   Adj Close
1761   AAPL 2019-12-31  292.163818
3631    JNJ 2019-12-31  143.947876
5501    MCD 2019-12-31  195.080414
6644   MTCH 2019-12-31   82.110001
8514   NFLX 2019-12-31  323.570007

In [17]:
# Grab the latest stock close price

adj_close_latest = adj_close[adj_close['Date']==(stocks_end-datetime.timedelta(1))]
adj_close_latest

      Ticker       Date   Adj Close
1869    AAPL 2020-06-05  331.500000
3739     JNJ 2020-06-05  147.300003
5609     MCD 2020-06-05  197.160004
6752    MTCH 2020-06-05   90.089996
8622    NFLX 2020-06-05  419.600006
10492    WMT 2020-06-05  121.559998
12362     FB 2020-06-05  230.770004
14017   TWTR 2020-06-05   34.869999

In [18]:
adj_close_latest.set_index('Ticker', inplace=True)
adj_close_latest.head()

             Date   Adj Close
Ticker
AAPL   2020-06-05  331.500000
JNJ    2020-06-05  147.300003
MCD    2020-06-05  197.160004
MTCH   2020-06-05   90.089996
NFLX   2020-06-05  419.600006

In [19]:
portfolio_df.set_index(['Ticker'], inplace=True)

portfolio_df.head()

       Acquisition Date  Quantity  Unit Cost  Cost Basis Start of Year
Ticker
AAPL         2013-02-07       125      65.40     8175.00    2019-12-31
JNJ          2014-02-27       100      81.90     8190.00    2019-12-31
MCD          2013-06-04       100      84.99     8499.00    2019-12-31
MTCH         2015-12-14       600      13.63     8178.00    2019-12-31
NFLX         2016-01-14        75     108.71     8153.25    2019-12-31

In [20]:
# Merge the portfolio dataframe with the adj close dataframe; they are being joined by their indexes.

merged_portfolio = pd.merge(portfolio_df, adj_close_latest, left_index=True, right_index=True)
merged_portfolio

       Acquisition Date  Quantity  ...       Date   Adj Close
Ticker                             ...
AAPL         2013-02-07       125  ... 2020-06-05  331.500000
JNJ          2014-02-27       100  ... 2020-06-05  147.300003
MCD          2013-06-04       100  ... 2020-06-05  197.160004
MTCH         2015-12-14       600  ... 2020-06-05   90.089996
NFLX         2016-01-14        75  ... 2020-06-05  419.600006
WMT          2013-08-14       125  ... 2020-06-05  121.559998
FB           2013-12-13       150  ... 2020-06-05  230.770004
TWTR         2015-01-05       225  ... 2020-06-05   34.869999

[8 rows x 7 columns]

In [21]:
# The below creates a new column which is the ticker return; takes the latest adjusted close for each position
# and divides that by the initial share cost.

merged_portfolio['ticker return'] = merged_portfolio['Adj Close'] / merged_portfolio['Unit Cost'] - 1

merged_portfolio

       Acquisition Date  Quantity  ...   Adj Close  ticker return
Ticker                             ...
AAPL         2013-02-07       125  ...  331.500000       4.068807
JNJ          2014-02-27       100  ...  147.300003       0.798535
MCD          2013-06-04       100  ...  197.160004       1.319802
MTCH         2015-12-14       600  ...   90.089996       5.609684
NFLX         2016-01-14        75  ...  419.600006       2.859811
WMT          2013-08-14       125  ...  121.559998       0.779795
FB           2013-12-13       150  ...  230.770004       3.328020
TWTR         2015-01-05       225  ...   34.869999      -0.041506

[8 rows x 8 columns]

In [22]:
merged_portfolio.reset_index(inplace=True)

In [23]:
type(merged_portfolio['Acquisition Date'][1])

pandas._libs.tslibs.timestamps.Timestamp

In [24]:
# Here we are merging the new dataframe with the sp500 adjusted closes since the sp start price based on 
# each ticker's acquisition date and sp500 close date.

merged_portfolio_sp = pd.merge(merged_portfolio, sp_500_adj_close, left_on='Acquisition Date', right_on='Date')
# .set_index('Ticker')

merged_portfolio_sp.head()

  Ticker Acquisition Date  Quantity  ...  ticker return     Date_y  Adj Close_y
0   AAPL       2013-02-07       125  ...       4.068807 2013-02-07  1509.390015
1    JNJ       2014-02-27       100  ...       0.798535 2014-02-27  1854.290039
2    MCD       2013-06-04       100  ...       1.319802 2013-06-04  1631.380005
3   MTCH       2015-12-14       600  ...       5.609684 2015-12-14  2021.939941
4   NFLX       2016-01-14        75  ...       2.859811 2016-01-14  1921.839966

[5 rows x 11 columns]

In [25]:
# We will delete the additional date column which is created from this merge.
# We then rename columns to Latest Date and then reflect Ticker Adj Close and SP 500 Initial Close.

del merged_portfolio_sp['Date_y']

merged_portfolio_sp.rename(columns={'Date_x': 'Latest Date', 'Adj Close_x': 'Ticker Adj Close'
                                    , 'Adj Close_y': 'SP 500 Initial Close'}, inplace=True)

merged_portfolio_sp.head()

  Ticker Acquisition Date  ...  ticker return  SP 500 Initial Close
0   AAPL       2013-02-07  ...       4.068807           1509.390015
1    JNJ       2014-02-27  ...       0.798535           1854.290039
2    MCD       2013-06-04  ...       1.319802           1631.380005
3   MTCH       2015-12-14  ...       5.609684           2021.939941
4   NFLX       2016-01-14  ...       2.859811           1921.839966

[5 rows x 10 columns]

In [26]:
# This new column determines what SP 500 equivalent purchase would have been at purchase date of stock.
merged_portfolio_sp['Equiv SP Shares'] = merged_portfolio_sp['Cost Basis'] / merged_portfolio_sp['SP 500 Initial Close']
merged_portfolio_sp

  Ticker Acquisition Date  ...  SP 500 Initial Close  Equiv SP Shares
0   AAPL       2013-02-07  ...           1509.390015         5.416095
1    JNJ       2014-02-27  ...           1854.290039         4.416785
2    MCD       2013-06-04  ...           1631.380005         5.209700
3   MTCH       2015-12-14  ...           2021.939941         4.044631
4   NFLX       2016-01-14  ...           1921.839966         4.242419
5    WMT       2013-08-14  ...           1685.390015         5.065593
6     FB       2013-12-13  ...           1775.319946         4.505103
7   TWTR       2015-01-05  ...           2020.579956         4.051065

[8 rows x 11 columns]

In [27]:
sp_500_adj_close.head()

        Date    Adj Close
0 2013-01-02  1462.420044
1 2013-01-03  1459.369995
2 2013-01-04  1466.469971
3 2013-01-07  1461.890015
4 2013-01-08  1457.150024

In [28]:
# We are joining the developing dataframe with the sp500 closes again, this time with the latest close for SP.
merged_portfolio_sp_latest = pd.merge(merged_portfolio_sp, sp_500_adj_close, left_on='Latest Date', right_on='Date')

merged_portfolio_sp_latest.head()

  Ticker Acquisition Date  Quantity  ...  Equiv SP Shares       Date    Adj Close
0   AAPL       2013-02-07       125  ...         5.416095 2020-06-05  3193.929932
1    JNJ       2014-02-27       100  ...         4.416785 2020-06-05  3193.929932
2    MCD       2013-06-04       100  ...         5.209700 2020-06-05  3193.929932
3   MTCH       2015-12-14       600  ...         4.044631 2020-06-05  3193.929932
4   NFLX       2016-01-14        75  ...         4.242419 2020-06-05  3193.929932

[5 rows x 13 columns]

In [29]:
# Once again need to delete the new Date column added as it's redundant to Latest Date.  
# Modify Adj Close from the sp dataframe to distinguish it by calling it the SP 500 Latest Close.

del merged_portfolio_sp_latest['Date']

merged_portfolio_sp_latest.rename(columns={'Adj Close': 'SP 500 Latest Close'}, inplace=True)

merged_portfolio_sp_latest.head()

  Ticker Acquisition Date  ...  Equiv SP Shares  SP 500 Latest Close
0   AAPL       2013-02-07  ...         5.416095          3193.929932
1    JNJ       2014-02-27  ...         4.416785          3193.929932
2    MCD       2013-06-04  ...         5.209700          3193.929932
3   MTCH       2015-12-14  ...         4.044631          3193.929932
4   NFLX       2016-01-14  ...         4.242419          3193.929932

[5 rows x 12 columns]

In [30]:
# Percent return of SP from acquisition date of position through latest trading day.
merged_portfolio_sp_latest['SP Return'] = merged_portfolio_sp_latest['SP 500 Latest Close'] / merged_portfolio_sp_latest['SP 500 Initial Close'] - 1

# This is a new column which takes the tickers return and subtracts the sp 500 equivalent range return.
merged_portfolio_sp_latest['Abs. Return Compare'] = merged_portfolio_sp_latest['ticker return'] - merged_portfolio_sp_latest['SP Return']

# This is a new column where we calculate the ticker's share value by multiplying the original quantity by the latest close.
merged_portfolio_sp_latest['Ticker Share Value'] = merged_portfolio_sp_latest['Quantity'] * merged_portfolio_sp_latest['Ticker Adj Close']

# We calculate the equivalent SP 500 Value if we take the original SP shares * the latest SP 500 share price.
merged_portfolio_sp_latest['SP 500 Value'] = merged_portfolio_sp_latest['Equiv SP Shares'] * merged_portfolio_sp_latest['SP 500 Latest Close']

# This is a new column where we take the current market value for the shares and subtract the SP 500 value.
merged_portfolio_sp_latest['Abs Value Compare'] = merged_portfolio_sp_latest['Ticker Share Value'] - merged_portfolio_sp_latest['SP 500 Value']

# This column calculates profit / loss for stock position.
merged_portfolio_sp_latest['Stock Gain / (Loss)'] = merged_portfolio_sp_latest['Ticker Share Value'] - merged_portfolio_sp_latest['Cost Basis']

# This column calculates profit / loss for SP 500.
merged_portfolio_sp_latest['SP 500 Gain / (Loss)'] = merged_portfolio_sp_latest['SP 500 Value'] - merged_portfolio_sp_latest['Cost Basis']

merged_portfolio_sp_latest.head()

  Ticker Acquisition Date  ...  Stock Gain / (Loss)  SP 500 Gain / (Loss)
0   AAPL       2013-02-07  ...          33262.50000           9123.628542
1    JNJ       2014-02-27  ...           6540.00030           5916.901074
2    MCD       2013-06-04  ...          11217.00040           8140.415960
3   MTCH       2015-12-14  ...          45875.99760           4740.266490
4   NFLX       2016-01-14  ...          23316.75045           5396.738385

[5 rows x 19 columns]

In [31]:
# Merge the overall dataframe with the adj close start of year dataframe for YTD tracking of tickers.
# Should not need to do the outer join;

merged_portfolio_sp_latest_YTD = pd.merge(merged_portfolio_sp_latest, adj_close_start, on='Ticker')
# , how='outer'

merged_portfolio_sp_latest_YTD.head()

  Ticker Acquisition Date  ...       Date   Adj Close
0   AAPL       2013-02-07  ... 2019-12-31  292.163818
1    JNJ       2014-02-27  ... 2019-12-31  143.947876
2    MCD       2013-06-04  ... 2019-12-31  195.080414
3   MTCH       2015-12-14  ... 2019-12-31   82.110001
4   NFLX       2016-01-14  ... 2019-12-31  323.570007

[5 rows x 21 columns]

In [32]:
# Deleting date again as it's an unnecessary column.  Explaining that new column is the Ticker Start of Year Close.

del merged_portfolio_sp_latest_YTD['Date']

merged_portfolio_sp_latest_YTD.rename(columns={'Adj Close': 'Ticker Start Year Close'}, inplace=True)

merged_portfolio_sp_latest_YTD.head()

  Ticker Acquisition Date  ...  SP 500 Gain / (Loss)  Ticker Start Year Close
0   AAPL       2013-02-07  ...           9123.628542               292.163818
1    JNJ       2014-02-27  ...           5916.901074               143.947876
2    MCD       2013-06-04  ...           8140.415960               195.080414
3   MTCH       2015-12-14  ...           4740.266490                82.110001
4   NFLX       2016-01-14  ...           5396.738385               323.570007

[5 rows x 20 columns]

In [33]:
sp_500_adj_close_start
merged_portfolio_sp_latest_YTD

  Ticker Acquisition Date  ...  SP 500 Gain / (Loss)  Ticker Start Year Close
0   AAPL       2013-02-07  ...           9123.628542               292.163818
1    JNJ       2014-02-27  ...           5916.901074               143.947876
2    MCD       2013-06-04  ...           8140.415960               195.080414
3   MTCH       2015-12-14  ...           4740.266490                82.110001
4   NFLX       2016-01-14  ...           5396.738385               323.570007
5    WMT       2013-08-14  ...           7641.649367               117.798302
6     FB       2013-12-13  ...           6390.984731               205.250000
7   TWTR       2015-01-05  ...           4753.316591                32.049999

[8 rows x 20 columns]

In [34]:
# Join the SP 500 start of year with current dataframe for SP 500 ytd comparisons to tickers.

merged_portfolio_sp_latest_YTD_sp = pd.merge(merged_portfolio_sp_latest_YTD, sp_500_adj_close_start, left_on='Start of Year', right_on='Date')

merged_portfolio_sp_latest_YTD_sp.head()

  Ticker Acquisition Date  ...       Date    Adj Close
0   AAPL       2013-02-07  ... 2019-12-31  3230.780029
1    JNJ       2014-02-27  ... 2019-12-31  3230.780029
2    MCD       2013-06-04  ... 2019-12-31  3230.780029
3   MTCH       2015-12-14  ... 2019-12-31  3230.780029
4   NFLX       2016-01-14  ... 2019-12-31  3230.780029

[5 rows x 22 columns]

In [35]:
# Deleting another unneeded Date column.

del merged_portfolio_sp_latest_YTD_sp['Date']

# Renaming so that it's clear this column is SP 500 start of year close.
merged_portfolio_sp_latest_YTD_sp.rename(columns={'Adj Close': 'SP Start Year Close'}, inplace=True)

# YTD return for portfolio position.
merged_portfolio_sp_latest_YTD_sp['Share YTD'] = merged_portfolio_sp_latest_YTD_sp['Ticker Adj Close'] / merged_portfolio_sp_latest_YTD_sp['Ticker Start Year Close'] - 1

# YTD return for SP to run compares.
merged_portfolio_sp_latest_YTD_sp['SP 500 YTD'] = merged_portfolio_sp_latest_YTD_sp['SP 500 Latest Close'] / merged_portfolio_sp_latest_YTD_sp['SP Start Year Close'] - 1

merged_portfolio_sp_latest_YTD_sp.head()

  Ticker Acquisition Date  Quantity  ...  SP Start Year Close  Share YTD SP 500 YTD
0   AAPL       2013-02-07       125  ...          3230.780029   0.134637  -0.011406
1    JNJ       2014-02-27       100  ...          3230.780029   0.023287  -0.011406
2    MCD       2013-06-04       100  ...          3230.780029   0.010660  -0.011406
3   MTCH       2015-12-14       600  ...          3230.780029   0.097187  -0.011406
4   NFLX       2016-01-14        75  ...          3230.780029   0.296783  -0.011406

[5 rows x 23 columns]

In [36]:
merged_portfolio_sp_latest_YTD_sp = merged_portfolio_sp_latest_YTD_sp.sort_values(by='Ticker', ascending=True)
merged_portfolio_sp_latest_YTD_sp

  Ticker Acquisition Date  Quantity  ...  SP Start Year Close  Share YTD SP 500 YTD
0   AAPL       2013-02-07       125  ...          3230.780029   0.134637  -0.011406
6     FB       2013-12-13       150  ...          3230.780029   0.124336  -0.011406
1    JNJ       2014-02-27       100  ...          3230.780029   0.023287  -0.011406
2    MCD       2013-06-04       100  ...          3230.780029   0.010660  -0.011406
3   MTCH       2015-12-14       600  ...          3230.780029   0.097187  -0.011406
4   NFLX       2016-01-14        75  ...          3230.780029   0.296783  -0.011406
7   TWTR       2015-01-05       225  ...          3230.780029   0.087988  -0.011406
5    WMT       2013-08-14       125  ...          3230.780029   0.031933  -0.011406

[8 rows x 23 columns]

In [37]:
# Cumulative sum of original investment
merged_portfolio_sp_latest_YTD_sp['Cum Invst'] = merged_portfolio_sp_latest_YTD_sp['Cost Basis'].cumsum()

# Cumulative sum of Ticker Share Value (latest FMV based on initial quantity purchased).
merged_portfolio_sp_latest_YTD_sp['Cum Ticker Returns'] = merged_portfolio_sp_latest_YTD_sp['Ticker Share Value'].cumsum()

# Cumulative sum of SP Share Value (latest FMV driven off of initial SP equiv purchase).
merged_portfolio_sp_latest_YTD_sp['Cum SP Returns'] = merged_portfolio_sp_latest_YTD_sp['SP 500 Value'].cumsum()

# Cumulative CoC multiple return for stock investments
merged_portfolio_sp_latest_YTD_sp['Cum Ticker ROI Mult'] = merged_portfolio_sp_latest_YTD_sp['Cum Ticker Returns'] / merged_portfolio_sp_latest_YTD_sp['Cum Invst']

merged_portfolio_sp_latest_YTD_sp.head()

  Ticker Acquisition Date  ...  Cum SP Returns  Cum Ticker ROI Mult
0   AAPL       2013-02-07  ...    17298.628542             5.068807
6     FB       2013-12-13  ...    31687.613273             4.702467
1    JNJ       2014-02-27  ...    45794.514347             3.726265
2    MCD       2013-06-04  ...    62433.930307             3.362516
3   MTCH       2015-12-14  ...    75352.196797             4.009576

[5 rows x 27 columns]

## Assessing Where Positions are At versus Highest Close

In [38]:
# Referencing the adj_close dataframe from above

adj_close.head()

  Ticker       Date  Adj Close
0   AAPL 2013-01-02  68.502106
1   AAPL 2013-01-03  67.637436
2   AAPL 2013-01-04  65.753418
3   AAPL 2013-01-07  65.366646
4   AAPL 2013-01-08  65.542587

In [39]:
portfolio_df.head()

       Acquisition Date  Quantity  Unit Cost  Cost Basis Start of Year
Ticker
AAPL         2013-02-07       125      65.40     8175.00    2019-12-31
JNJ          2014-02-27       100      81.90     8190.00    2019-12-31
MCD          2013-06-04       100      84.99     8499.00    2019-12-31
MTCH         2015-12-14       600      13.63     8178.00    2019-12-31
NFLX         2016-01-14        75     108.71     8153.25    2019-12-31

In [40]:
# Need to factor in that some positions were purchased much more recently than others.
# Join adj_close dataframe with portfolio in order to have acquisition date.

portfolio_df.reset_index(inplace=True)

adj_close_acq_date = pd.merge(adj_close, portfolio_df, on='Ticker')

adj_close_acq_date.head()

  Ticker       Date  Adj Close  ... Unit Cost  Cost Basis  Start of Year
0   AAPL 2013-01-02  68.502106  ...      65.4      8175.0     2019-12-31
1   AAPL 2013-01-03  67.637436  ...      65.4      8175.0     2019-12-31
2   AAPL 2013-01-04  65.753418  ...      65.4      8175.0     2019-12-31
3   AAPL 2013-01-07  65.366646  ...      65.4      8175.0     2019-12-31
4   AAPL 2013-01-08  65.542587  ...      65.4      8175.0     2019-12-31

[5 rows x 8 columns]

In [41]:
# delete_columns = ['Quantity', 'Unit Cost', 'Cost Basis', 'Start of Year']

del adj_close_acq_date['Quantity']
del adj_close_acq_date['Unit Cost']
del adj_close_acq_date['Cost Basis']
del adj_close_acq_date['Start of Year']

# Sort by these columns in this order in order to make it clearer where compare for each position should begin.
adj_close_acq_date.sort_values(by=['Ticker', 'Acquisition Date', 'Date'], ascending=[True, True, True], inplace=True)

In [42]:
# Anything less than 0 means that the stock close was prior to acquisition.

adj_close_acq_date['Date Delta'] = pd.to_datetime(adj_close_acq_date['Date']) - pd.to_datetime(adj_close_acq_date['Acquisition Date'])

adj_close_acq_date['Date Delta'] = adj_close_acq_date[['Date Delta']].apply(pd.to_numeric)  

adj_close_acq_date.head()

  Ticker       Date  Adj Close Acquisition Date        Date Delta
0   AAPL 2013-01-02  68.502106       2013-02-07 -3110400000000000
1   AAPL 2013-01-03  67.637436       2013-02-07 -3024000000000000
2   AAPL 2013-01-04  65.753418       2013-02-07 -2937600000000000
3   AAPL 2013-01-07  65.366646       2013-02-07 -2678400000000000
4   AAPL 2013-01-08  65.542587       2013-02-07 -2592000000000000

In [43]:
# Modified the dataframe being evaluated to look at highest close which occurred after Acquisition Date (aka, not prior to purchase).

adj_close_acq_date_modified = adj_close_acq_date[adj_close_acq_date['Date Delta']>=0]

adj_close_acq_date_modified.head()

   Ticker       Date  Adj Close Acquisition Date       Date Delta
25   AAPL 2013-02-07  58.759972       2013-02-07                0
26   AAPL 2013-02-08  59.608299       2013-02-07   86400000000000
27   AAPL 2013-02-11  60.229511       2013-02-07  345600000000000
28   AAPL 2013-02-12  58.719791       2013-02-07  432000000000000
29   AAPL 2013-02-13  58.608109       2013-02-07  518400000000000

In [44]:
# This pivot table will index on the Ticker and Acquisition Date, and find the max adjusted close.

adj_close_pivot = adj_close_acq_date_modified.pivot_table(index=['Ticker', 'Acquisition Date'], values='Adj Close', aggfunc=np.max)

adj_close_pivot.reset_index(inplace=True)

adj_close_pivot

  Ticker Acquisition Date   Adj Close
0   AAPL       2013-02-07  331.500000
1     FB       2013-12-13  234.910004
2    JNJ       2014-02-27  154.439407
3    MCD       2013-06-04  215.830231
4   MTCH       2015-12-14   94.360001
5   NFLX       2016-01-14  454.190002
6   TWTR       2015-01-05   52.869999
7    WMT       2013-08-14  131.750458

In [45]:
# Merge the adj close pivot table with the adj_close table in order to grab the date of the Adj Close High (good to know).

adj_close_pivot_merged = pd.merge(adj_close_pivot, adj_close
                                             , on=['Ticker', 'Adj Close'])

adj_close_pivot_merged.head()

  Ticker Acquisition Date   Adj Close       Date
0   AAPL       2013-02-07  331.500000 2020-06-05
1     FB       2013-12-13  234.910004 2020-05-22
2    JNJ       2014-02-27  154.439407 2020-04-23
3    MCD       2013-06-04  215.830231 2019-09-06
4   MTCH       2015-12-14   94.360001 2020-06-02

In [46]:
# Merge the Adj Close pivot table with the master dataframe to have the closing high since you have owned the stock.

merged_portfolio_sp_latest_YTD_sp_closing_high = pd.merge(merged_portfolio_sp_latest_YTD_sp, adj_close_pivot_merged
                                             , on=['Ticker', 'Acquisition Date'])

# Renaming so that it's clear that the new columns are two year closing high and two year closing high date.
merged_portfolio_sp_latest_YTD_sp_closing_high.rename(columns={'Adj Close': 'Closing High Adj Close', 'Date': 'Closing High Adj Close Date'}, inplace=True)

merged_portfolio_sp_latest_YTD_sp_closing_high['Pct off High'] = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker Adj Close'] / merged_portfolio_sp_latest_YTD_sp_closing_high['Closing High Adj Close'] - 1 

merged_portfolio_sp_latest_YTD_sp_closing_high

  Ticker Acquisition Date  ...  Closing High Adj Close Date  Pct off High
0   AAPL       2013-02-07  ...                   2020-06-05      0.000000
1     FB       2013-12-13  ...                   2020-05-22     -0.017624
2    JNJ       2014-02-27  ...                   2020-04-23     -0.046228
3    MCD       2013-06-04  ...                   2019-09-06     -0.086504
4   MTCH       2015-12-14  ...                   2020-06-02     -0.045252
5   NFLX       2016-01-14  ...                   2020-05-15     -0.076158
6   TWTR       2015-01-05  ...                   2015-04-07     -0.340458
7    WMT       2013-08-14  ...                   2020-04-16     -0.077347

[8 rows x 30 columns]

In [47]:
# Not needed for this blog post -- this is if you have multiple positions for the same ticker with different acquisition dates.
# merged_portfolio_sp_latest_YTD_sp_closing_high['Counts'] = merged_portfolio_sp_latest_YTD_sp_closing_high.index

# merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker #'] = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'].map(str) + ' ' + merged_portfolio_sp_latest_YTD_sp_closing_high['Counts'].map(str)

# merged_portfolio_sp_latest_YTD_sp_closing_high.head()

## YTD and Trailing Stop Charts

In [48]:
# Imports in order to be able to use Plotly offline.
!pip install plotly==4.9.0
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = "colab"


print(__version__) # requires version >= 1.9.0

init_notebook_mode(connected=True)

Requirement already satisfied: plotly==4.9.0 in /usr/local/lib/python2.7/dist-packages (4.9.0)
Requirement already satisfied: six in /usr/local/lib/python2.7/dist-packages (from plotly==4.9.0) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python2.7/dist-packages (from plotly==4.9.0) (1.3.3)
4.9.0

In [49]:
# Ploty is an outstanding resource for interactive charts.

trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp['Ticker'][0:10],
    y = merged_portfolio_sp_latest_YTD_sp['Share YTD'][0:10],
    name = 'Ticker YTD')

trace2 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp['Ticker'][0:10],
    y = merged_portfolio_sp_latest_YTD_sp['SP 500 YTD'][0:10],
    name = 'SP500 YTD')
    
data = [trace1, trace2]

layout = go.Layout(title = 'YTD Return vs S&P 500 YTD'
    , barmode = 'group'
    , yaxis=dict(title='Returns', tickformat=".2%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=.8,y=1)
    )

fig = go.Figure(data=data, layout=layout)
fig.show(renderer="colab")

In [50]:
merged_portfolio_sp_latest_YTD_sp

  Ticker Acquisition Date  ...  Cum SP Returns  Cum Ticker ROI Mult
0   AAPL       2013-02-07  ...    17298.628542             5.068807
6     FB       2013-12-13  ...    31687.613273             4.702467
1    JNJ       2014-02-27  ...    45794.514347             3.726265
2    MCD       2013-06-04  ...    62433.930307             3.362516
3   MTCH       2015-12-14  ...    75352.196797             4.009576
4   NFLX       2016-01-14  ...    88902.185182             3.984754
7   TWTR       2015-01-05  ...   101841.001774             3.553036
5    WMT       2013-08-14  ...   118020.151141             3.323365

[8 rows x 27 columns]

In [51]:
# Current Share Price versus Closing High Since Purchased

trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'][0:10],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['Pct off High'][0:10],
    name = 'Pct off High')
    
data = [trace1]

layout = go.Layout(title = 'Adj Close % off of High'
    , barmode = 'group'
    , yaxis=dict(title='% Below Adj Close High', tickformat=".2%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=.8,y=1)
    )

fig = go.Figure(data=data, layout=layout)
fig.show(renderer="colab")

## Total Return Comparison Charts

In [52]:
trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'][0:10],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['ticker return'][0:10],
    name = 'Ticker Total Return')

trace2 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'][0:10],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['SP Return'][0:10],
    name = 'SP500 Total Return')
    
data = [trace1, trace2]

layout = go.Layout(title = 'Total Return vs S&P 500'
    , barmode = 'group'
    , yaxis=dict(title='Returns', tickformat=".2%")
    , xaxis=dict(title='Ticker', tickformat=".2%")
    , legend=dict(x=.8,y=1)
    )

fig = go.Figure(data=data, layout=layout)
fig.show(renderer="colab")

## Cumulative Returns Over Time

In [53]:
trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'][0:10],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['Stock Gain / (Loss)'][0:10],
    name = 'Ticker Total Return ($)')

trace2 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'][0:10],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['SP 500 Gain / (Loss)'][0:10],
    name = 'SP 500 Total Return ($)')

trace3 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'][0:10],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['ticker return'][0:10],
    name = 'Ticker Total Return %',
    yaxis='y2')

data = [trace1, trace2, trace3]

layout = go.Layout(title = 'Gain / (Loss) Total Return vs S&P 500'
    , barmode = 'group'
    , yaxis=dict(title='Gain / (Loss) ($)')
    , yaxis2=dict(title='Ticker Return', overlaying='y', side='right', tickformat=".2%")
    , xaxis=dict(title='Ticker')
    , legend=dict(x=.75,y=1)
    )

fig = go.Figure(data=data, layout=layout)
fig.show(renderer="colab")

In [54]:
trace1 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['Cum Invst'],
    # mode = 'lines+markers',
    name = 'Cum Invst')

trace2 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['Cum SP Returns'],
    # mode = 'lines+markers',
    name = 'Cum SP500 Returns')

trace3 = go.Bar(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['Cum Ticker Returns'],
    # mode = 'lines+markers',
    name = 'Cum Ticker Returns')

trace4 = go.Scatter(
    x = merged_portfolio_sp_latest_YTD_sp_closing_high['Ticker'],
    y = merged_portfolio_sp_latest_YTD_sp_closing_high['Cum Ticker ROI Mult'],
    # mode = 'lines+markers',
    name = 'Cum ROI Mult'
    , yaxis='y2')


data = [trace1, trace2, trace3, trace4]

layout = go.Layout(title = 'Total Cumulative Investments Over Time'
    , barmode = 'group'
    , yaxis=dict(title='Returns')
    , xaxis=dict(title='Ticker')
    , legend=dict(x=.4,y=1)
    , yaxis2=dict(title='Cum ROI Mult', overlaying='y', side='right')               
    )

fig = go.Figure(data=data, layout=layout)
fig.show(renderer="colab")